{% extends "material-dashboard-master/pages/base.html" %}
{% load static %}

{% block title %}
    ダッシュボード
{% endblock %}
{% block page_title %}
    ダッシュボード
{% endblock %}
{% block content %}
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header mx-4 pb-0 pt-1 text-center">
              <a class="btn {% if stamped_time.0 or is_promoted %}btn-outline-info disabled{% else %}btn-info{% endif %} border-radius-lg p-4 mt-md-2" href="javascript:Stamp('in');">
                <i class="material-icons opacity-10">person_add_alt</i>
              </a>
            </div>
            <div class="card-body pt-0 p-3 text-center">
              <h6 class="text-center mb-0">勤務開始</h6>
            {% if stamped_time.0 %}
              <h6 class="text-xs">打刻済み</h6>
            {% else %}
                <p class="text-xs">未打刻</p>
            {% endif %}
                <hr class="horizontal dark my-3">
            {% if stamped_time.0 %}
                <h5 class="mb-0">{{ stamped_time.0|date:"H:i" }}</h5>
            {% else %}
                <h5 class="mb-0 text-secondary" id="time"></h5>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header mx-4 pb-0 pt-1 text-center">
              <a class="btn {% if stamped_time.1 or is_promoted %}btn-outline-info disabled{% else %}btn-info{% endif %} border-radius-lg p-4 mt-md-2 " href="javascript:Stamp('out');">
                <i class="material-icons opacity-10">person_remove</i>
              </a>
            </div>
            <div class="card-body pt-0 p-3 text-center">
              <h6 class="text-center mb-0">勤務終了</h6>
            {% if stamped_time.1 %}
              <h6 class="text-xs">打刻済み</h6>
            {% else %}
                <p class="text-xs">未打刻</p>
            {% endif %}
              <hr class="horizontal dark my-3">
            {% if stamped_time.1 %}
                <h5 class="mb-0">{{ stamped_time.1|date:"H:i" }}</h5>
            {% else %}
                <h5 class="mb-0 text-secondary" id="time"></h5>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header mx-4 pb-0 pt-1 text-center">
              <a class="btn {% if stamped_time.5 or is_promoted %}btn-outline-warning disabled{% else %}btn-warning{% endif %} border-radius-lg p-4 mt-md-2" href="javascript:Stamp('enter_break');">
                <i class="material-icons opacity-10">restaurant</i>
              </a>
            </div>
            <div class="card-body pt-0 p-3 text-center">
              <h6 class="text-center mb-0">休憩開始</h6>
            {% if stamped_time.5 %}
              <h6 class="text-xs">打刻済み</h6>
            {% else %}
                <p class="text-xs">未打刻</p>
            {% endif %}
              <hr class="horizontal dark my-3">
            {% if stamped_time.5 %}
                <h5 class="mb-0">{{ stamped_time.5|date:"H:i" }}</h5>
            {% else %}
                <h5 class="mb-0 text-secondary" id="time"></h5>
            {% endif %}
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-header mx-4 pb-0 pt-1 text-center">
              <a class="btn {% if stamped_time.6 or is_promoted %}btn-outline-warning disabled{% else %}btn-warning{% endif %} border-radius-lg p-4 mt-md-2" href="javascript:Stamp('end_break');">
                <i class="material-icons opacity-10">local_cafe</i>
              </a>
            </div>
            <div class="card-body pt-0 p-3 text-center">
              <h6 class="text-center mb-0">休憩終了</h6>
            {% if stamped_time.6 %}
              <h6 class="text-xs">打刻済み</h6>
            {% else %}
                <p class="text-xs">未打刻</p>
            {% endif %}
              <hr class="horizontal dark my-3">
            {% if stamped_time.6 %}
                <h5 class="mb-0">{{ stamped_time.6|date:"H:i" }}</h5>
            {% else %}
                <h5 class="mb-0 text-secondary" id="time"></h5>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2 ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">今週の勤務時間</h6>
              <h6 class="text-sm ">{{ bar_chart_data.this_monday|date:"m/d" }}(月) ~ {{ bar_chart_data.this_sunday|date:"m/d" }}(日)</h6>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm">最終更新：{{ bar_chart_data.latest_updated_at|default_if_none:" --:-- " }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-4 mb-4">
          <div class="card z-index-2  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="170"></canvas>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="mb-0 ">月ごとの勤務時間</h6>
              <h6 class="text-sm ">今月の勤務時間：{{ line_graph_data.total_work_hours.5 }}時間 </h6>
              <hr class="dark horizontal">
              <div class="d-flex ">
                <i class="material-icons text-sm my-auto me-1">schedule</i>
                <p class="mb-0 text-sm">最終更新：{{ line_graph_data.latest_updated_at|default_if_none:" --:-- " }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if request.user.manager %}
      <div class="row mb-4">
        <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>勤務状況一覧</h6>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">名前</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">権限</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">状態</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">出勤時刻</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">退勤時刻</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for user in work_condition %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ user.name }}</h6>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">
                            {% if user.is_manager %}
                                管理ユーザー
                            {% else %}
                                一般ユーザー
                            {% endif %}
                        </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">
                            {% if user.start_work %}
                                勤務中
                            {% elif user.end_work %}
                                退勤済み
                            {% else %}
                                未出勤
                            {% endif %}
                        </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">
                            {% if user.start_work %}
                                {{ user.start_work|date:"H:i" }}
                            {% else %}
                                --:--
                            {% endif %}
                        </span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="text-xs font-weight-bold">
                            {% if user.end_work %}
                                {{ user.end_work|date:"H:i" }}
                            {% else %}
                                --:--
                            {% endif %}
                        </span>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
      {% endif %}
{% endblock %}
{% block script %}
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["月", "火", "水", "木", "金", "土", "日"],
        datasets: [{
          label: "勤務時間",
          tension: 0.4,
          borderWidth: 0,
          borderRadius: 4,
          borderSkipped: false,
          backgroundColor: "rgba(255, 255, 255, .8)",
          data: {{ bar_chart_data.work_hour }},
          maxBarThickness: 6
        }, ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              suggestedMin: 0,
              suggestedMax: 500,
              beginAtZero: true,
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
              color: "#fff"
            },
          },
          x: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });


    var ctx2 = document.getElementById("chart-line").getContext("2d");

    new Chart(ctx2, {
      type: "line",
      data: {
        labels: "{{ line_graph_data.months }}".split(','),
        datasets: [{
          label: "総勤務時間",
          tension: 0,
          borderWidth: 0,
          pointRadius: 5,
          pointBackgroundColor: "rgba(255, 255, 255, .8)",
          pointBorderColor: "transparent",
          borderColor: "rgba(255, 255, 255, .8)",
          borderColor: "rgba(255, 255, 255, .8)",
          borderWidth: 4,
          backgroundColor: "transparent",
          fill: true,
          data: {{ line_graph_data.total_work_hours }},
          maxBarThickness: 6

        }],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        interaction: {
          intersect: false,
          mode: 'index',
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5],
              color: 'rgba(255, 255, 255, .2)'
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: false,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              color: '#f8f9fa',
              padding: 10,
              font: {
                size: 14,
                weight: 300,
                family: "Roboto",
                style: 'normal',
                lineHeight: 2
              },
            }
          },
        },
      },
    });
    function Stamp(mode){
    location.href = "{% url 'timecard:dashboard' %}?mode=" + mode;
    }
    function showtime() {
    let today = new Date();
    $('[id=time]').html(today.getHours() + ":" + ('0' + today.getMinutes()).slice(-2) + ":" + ('0' + today.getSeconds()).slice(-2));
    }
    setInterval(showtime, 1000);

  </script>

{% endblock %}