{% extends "material-dashboard-master/pages/base_list.html" %}

{% block title %}
    申請内容確認
{% endblock %}

{% block page_title %}
    {{ BOM }}〜{{ EOM }}
{% endblock %}

{% block card_header %}
    <div class="card-header pb-0">
        <div class="row">
        <div class="col-4 col-md-4 col-lg-3">
            <h6>
            申請者：　{{ user_name }}
            </h6>
            <p class="text-sm mb-0">
                <span class="font-weight-bold ms-1">総勤務時間：{{ total_work_hours }} 時間</span>
            </p>
            <p class="text-sm mb-0">
                <span class="font-weight-bold ms-1">出勤日数：{{ work_days_count }} 日</span>
            </p>
        </div>
        <div class="col-4 col-md-4 col-lg-2">
            <a class="btn btn-info mb-0" data-bs-toggle="modal" data-bs-target="#approvalModal">
                　承認　
            </a>
        </div>
        <div class="col-4 col-md-4 col-lg-2">
            <a class="btn btn-warning mb-0" data-bs-toggle="modal" data-bs-target="#remandModal">
                　差戻　
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="approvalModal" tabindex="-1" role="dialog" aria-labelledby="promoteModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="promoteModalLabel">{{ BOM|date:"Y年n月" }}の勤怠承認</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ BOM|date:"Y年n月" }}の勤怠を承認します。よろしいですか？
              </div>
              <div class="modal-footer">
                <a type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">閉じる</a>
                <a type="button" class="btn bg-gradient-info" href="javascript:Promote();">承認する</a>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="remandModal" tabindex="-1" role="dialog" aria-labelledby="promoteModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title font-weight-normal" id="promoteModalLabel">{{ BOM|date:"Y年n月" }}の勤怠承認</h5>
                <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{ BOM|date:"Y年n月" }}の勤怠を差し戻します。よろしいですか？
              </div>
              <div class="modal-footer">
                <a type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">閉じる</a>
                <a type="button" class="btn bg-gradient-warning" href="javascript:Demote();">差し戻す</a>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block table_right %}
    {% if state == '0' %}
      <a href="{% url 'timecard:timecard_edit' %}?date={{ BOM|date:"Ym" }}{{ day_report.day }}";  class="text-secondary font-weight-bold text-xs EditModal" data-toggle="tooltip" id="edit" value={{ day_report.day }}>
          <i class="material-icons text-sm me-2">edit</i>
          編集
      </a>
    {% endif %}
{% endblock %}

{% block script %}
    <script>
    $(document).ready(function () {
        if (window !== window.parent) {
            parent.$('.EditModal').modaal('close');
            parent.location.reload();
        }
    });
    $('.EditModal').modaal(
        {
            type: 'iframe',
            animation_speed: 5,
            hide_close: false,
            width: 400,
            height: 350
        });
    let displayMonth = $('#id_month').val().replace('-', '');
    let YearMonth = '{{ BOM }}'.replace('日', '').replace(/[^0-9]/g, '/');
    let YYYYMM = ConvertParam(new Date(YearMonth))
    function ShowEditForm(day) {
        location.href = "{% url 'timecard:timecard_edit' %}?date=" + YYYYMM + day.toString().padStart(2, '0');
    }
    function Promote(){
        location.href +=  "&mode=promote";
    }
    function Demote(){
        location.href +=  "&mode=demote";
    }
    function ConvertParam(date){
        let month = (date.getMonth() + 1).toString().padStart(2, '0');
        return date.getFullYear() + month;
    }
    function GetYearMonthByContext(){
        return '{{ BOM }}'.replace('日', '').replace(/[^0-9]/g, '/');
    }
    </script>

{% endblock %}