{% extends "base.html" %}

{% block title %}
    承認待ち一覧
{% endblock %}
{% block content %}
    <div>
      {{ user_name }}
    </div>
    <div>
        {{ BOM }} ~ {{ EOM }}
        <button class="btn btn-primary px-4" id="approve">承認</button>
    </div>
    <table class="table table-striped">
    <tr>
        <th>日付</th>
        <th>出勤時刻</th>
        <th>退勤時刻</th>
        <th>拘束時間</th>
        <th>休憩時間</th>
        <th>労働時間</th>
    </tr>
    {% for day_report in monthly_report %}
    <tr>
        <td>{{ day_report.day }}</td>
        <td>{{ day_report.start_work|date:"H:i" }}</td>
        <td>{{ day_report.end_work|date:"H:i" }}</td>
        <td>{{ day_report.enter_break|date:"H:i" }}</td>
        <td>{{ day_report.end_break|date:"H:i" }}</td>
        <td>{{ day_report.paid_work_hour }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block script %}
    <script>
    $(function() {
        $('button.btn-primary').on('click', function() {
            if (!confirm('この操作は取り消しできません。承認済みにしますか？')) {
                return;
            }
            $('#delete-form').prop('action', $(this).data('url')).submit();
        });

    });
    </script>
{% endblock %}