{% extends "base.html" %}

{% block title %}
    アップロード
{% endblock %}
{% block content %}
    <table class="table table-striped">
    <tr>
        <th>申請者</th>
        <th>申請月</th>
        <th>詳細</th>
    </tr>
    {% for process_month in process_month_list %}
    <tr>
        <td>{{ process_month.user_name }}</td>
        <td>{{ process_month.date_str }}</td>
        <td>
            <button class="btn btn-sm btn-success" value={{ process_month.param }} id="detail">詳細</button>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
{% block script %}
    <script>
    $(function() {
        $(document).on('click', '#detail', function(){
            let param = $(this).val();
            location.href = "{% url 'timecard:timecard_process_monthly_report' %}" + param;
        })
    })
    </script>
{% endblock %}