{% extends "base.html" %}
{% load static %}

{% block title %}
    打刻画面
{% endblock %}
{% block content %}
    <img src="{% static "img/icon-alert.svg" %}" alt="My image"/>
    <form action="{% url 'timecard:dashboard'%}" method="POST">
        {% csrf_token %}
        <p id="time"></p>
        <button class="btn btn-success" type="submit" name="mode" value = "in" {{ btn_in_attr }}>出勤</button>
        <button class="btn btn-success" type="submit" name="mode" value = "out" {{ btn_out_attr }}>退勤</button>
        <button class="btn btn-success" type="submit" name="mode" value = "enter_break" {{ btn_enter_break_attr }}>休憩開始</button>
        <button class="btn btn-success" type="submit" name="mode" value = "end_break" {{ btn_end_break_attr }}>休憩終了</button>
    </form>
    <a href="{% url 'timecard:timecard_monthly_report' %}">一覧</a>
    {% if user.is_manager %}
        <a href="{% url 'timecard:timecard_process_month_list' %}">承認一覧</a>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
    $(function(){
        setInterval(function(){
            $('#time').text(new Date());
            }, 1000);
    });
    </script>
{% endblock %}
